.taskOverview {
    display: flex;
    justify-content: space-between;
}

.taskOverview > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
}

.taskOverview div:first-child{ 
    color: var(--blue-500);
}

.taskOverview div:last-child{ 
    color: var(--purple-500);
}

.taskCount {
    color: var(--gray-200);
    background: var(--gray-400);

    font-size: 0.75rem;
    padding: 0.125rem 0.5rem;
    border-radius: 9999px;

    line-height: normal;
}